:root {
    --default-bkg: #F5F7FB;
    --btn-bkg: #4D5B9E;
    --btn-press: #222222;
    --default-color: #293264;
    
    --selected: #D6DBF5;
    --correct: #94D7A2;
    --incorrect: #F8BCBC;

    /* dark mode colors */
    --off-black: #1c1c1c;
    --white: #ffffff;
    --off-white: var(--default-bkg);

    /* sizes */
    --one-px: .0625rem;
    --two-px: .125rem;
    --three-px: .1875rem;
    --four-px: .25rem;
    --five-px: .3125rem;
    --six-px: .375rem;
    --seven-px: .4375rem;
    --eight-px: .5rem;
    --nine-px: .5625rem;
    --ten-px: .625rem;
    --eleven-px: .6875rem;
    --twelve-px: .75rem;
}

* {
    box-sizing: border-box;
}

@layer base, dark-mode;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: unset;
        padding: unset;
        background: var(--default-bkg);
        color: var(--default-color);
        font-family: "Inter", sans-serif;
        min-height: 100svh;
    }

    h1,h2,p {
        margin: unset;
    }

    h1, h2 {
        font-family: "Karla", sans-serif;
        text-wrap: balance;
    }

    h1 { font-size: clamp(2rem, 5vw, 3rem); }

    h2 { font-size: clamp(1.25rem, 3.5vw, 2rem); }

    p { text-wrap: pretty; }

    .subheading {
        font-family: "Karla", sans-serif;
        text-transform: uppercase;
        color: var(--selected);
    }

    input { font-family: inherit; }

    .blob {
        position: absolute;
        z-index: -1;
    }

    .blob.yellow {
        top: 0;
        right: 0;
    }

    .blob.blue {
        bottom: 0;
        left: 0;
    }

    .wrapper {
        display: flex;
        height:clamp(400px, 100svh, 100svh);
        align-items: flex-start;
        justify-content: center;
    }

    .container {
        max-width: 90rem;
        width: 90vw;
    }

    .flex-vert {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .container-centered { align-self: center; }

    .container-centered > * { text-align: center; }

    button {
        --el-bkg: var(--btn-bkg); /* local var */
        background: var(--el-bkg);
        color: var(--default-bkg);
        border-color: var(--el-bkg);
        border-width: var(--one-px);
        border-style: solid;
        font-size: 1.25rem;
        font-family: inherit;
        padding: .75em 1.5em;
        border-radius: var(--twelve-px);
        transition: border-color 200ms, background 200ms;
        cursor: pointer;
    }

    button:active {
        --el-bkg: var(--btn-press);
    }

    .start-btn {
        margin-block-start: .5em;
        min-width: 20ch;
    }


    /* quiz styles */
    .quiz-container {
        padding-block: 1.5rem;
    }

    .quiz-item {
        border-block-end: var(--one-px) solid #DBDEF0;
        padding: 1.5em 0 1.5em;
        align-items: flex-start;
    }

    .quiz-item:first-of-type { padding-block-start: 0; }

    .answers {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    label {
        padding: .5em 1em;
        font-family: inherit;
        font-size: var(--twelve-px);
        border: 1px solid var(--default-color);
        border-radius: var(--twelve-px);
        cursor: pointer;
        transition:
            color 200ms,
            background 200ms,
            border-color 200ms;
    }

    label:has(input:checked) {
        --bkg: var(--selected);
        background: var(--bkg);
        border-color: var(--bkg);
    }

    input[type="radio"] {
        display: none;
    }

    label:has(input:checked).correct,
    .correct {
        --bkg: var(--correct);
        background: var(--bkg);
        border-color: var(--bkg);
    }

    label:has(input:checked).incorrect,
    .incorrect {
        --bkg: var(--incorrect);
        background: var(--bkg);
        border-color: var(--bkg);
        opacity: .5;
    }

    .not-selected {
        opacity: .5;
    }

    .quiz-footer {
        padding: 1.5em 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }

    .quiz-btn { min-width: 22ch; }

    .quiz-footer p {
        font-size: 1rem;
        font-weight: 600;
    }

    .options-wrapper {
        padding: 1rem;
        background: var(--btn-bkg);
        color: var(--default-bkg);
        border-radius: var(--twelve-px);
    }

    .options-wrapper p { max-width: 34ch; font-size: var(--twelve-px); }

    .options-wrapper h2 { max-width: 20ch; }

    .quiz-options {
        padding: 1rem;
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        background: var(--default-bkg);
        color: var(--default-color);
        gap: 1rem;
        border: var(--one-px) solid var(--default-bkg);
        border-radius: .5em;
    }

    .quiz-options .flex-vert {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .quiz-options label {
        padding: 0;
        border: none;
    }

    .quiz-options input,
    .quiz-options select {
        width: min-content;
    }

    .custom--dropdown-container {
        text-align: left;
        border: var(--one-px) solid #ccc;
        position: relative;
        border-radius: var(--six-px);
        cursor: pointer;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .custom--dropdown-container .dropdown-input {
        padding: .5em .75em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        gap: var(--five-px);
    }

    .custom--dropdown-container .dropdown-input .dropdown-selected-value.placeholder {
        color: var(--btn-bkg);
    }

    .custom--dropdown-container .dropdown-tool svg {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }

    .custom--dropdown-container .dropdown-tool svg.translate {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .custom--dropdown-container .dropdown-menu {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: var(--five-px);
        position: absolute;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
        border: var(--one-px) solid #dbdbdb;
        border-radius: var(--six-px);
        overflow: auto;
        background-color: #fff;
        z-index: 99;
        max-height: 312px;
        min-height: 50px;
    }

    .custom--dropdown-container .dropdown-menu::-webkit-scrollbar {
        width: var(--five-px);
    }
    
    .custom--dropdown-container .dropdown-menu::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    .custom--dropdown-container .dropdown-menu::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    .custom--dropdown-container .dropdown-menu::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
    .custom--dropdown-container .dropdown-menu.alignment--left {
        left: 0;
    }
    
    .custom--dropdown-container .dropdown-menu.alignment--right {
        right: 0;
    }
    
    .custom--dropdown-container .dropdown-item {
        padding: .4375em .625em;
        cursor: pointer;
        -webkit-transition: background-color 350ms ease;
        transition: background-color 350ms ease;
        border-radius: var(--six-px);
        font-weight: 500;
    }
    
    .custom--dropdown-container .dropdown-item:hover {
        background-color: rgba(130, 134, 139, 0.05);
        color: #ff7300;
    }
    
    .custom--dropdown-container .dropdown-item.selected {
        background-color: rgba(255, 115, 0, 0.075);
        color: #ff7300;
        font-weight: 600;
    }
    
    .custom--dropdown-container .search-box {
        padding: var(--five-px);
    }
    
    .custom--dropdown-container .search-box input {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: var(--five-px);
        border: var(--one-px) solid #ccc;
        border-radius: var(--five-px);
    }
    
    .custom--dropdown-container .dropdown-tags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: var(--five-px);
    }
    
    .custom--dropdown-container .dropdown-tag-item {
        background-color: #ff7300;
        color: #FFF;
        font-size: var(--twelve-px);
        font-weight: 500;
        padding: .125em .25em;
        border-radius: var(--six-px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .custom--dropdown-container .dropdown-tag-close {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: var(--five-px);
    }
}

@layer dark-mode {
    body:has(.dark-mode){
        background: var(--default-color);
        color: var(--off-white);

        h1, h2 {
            color: var(--white);
        }

        button {
            --el-bkg: var(--off-black);
            color: var(--off-white);
        }

        button:active {
            --el-bkg: var(--btn-bkg);
        }

        .subheading { color: var(--off-white); }

        .options-wrapper {
            background: var(--off-black);
        }

        .quiz-options {
            background: transparent;
            border-color: transparent;
        }

        label {
            border-color: var(--bkg);
            color: var(--white);
        }

        label:has(input:checked) {
            --bkg: var(--off-white);
            color: black;
        }

        label:has(input:checked).correct,
        .correct {
            --bkg: var(--correct);
            color: black;
        }

        label:has(input:checked).incorrect {
            --bkg: var(--incorrect);
            color: black;
        }

        .custom--dropdown-container .dropdown-input .dropdown-selected-value.placeholder {
            color: var(--default-color);
        }

        .dropdown-input { background-color: var(--default-bkg); }

        
    }
}