:root {
    --default-bkg: #F5F7FB;
    --btn-bkg: #4D5B9E;
    --btn-press: #222222;
    --default-color: #293264;
    
    --selected: #D6DBF5;
    --correct: #94D7A2;
    --incorrect: #F8BCBC;

    /* dark mode colors */
    --off-black: #1c1c1c;
    --white: #ffffff;
    --off-white: var(--default-bkg);
}

* {
    box-sizing: border-box;
}

@layer base, dark-mode;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: unset;
        padding: unset;
        background: var(--default-bkg);
        color: var(--default-color);
        font-family: "Inter", sans-serif;
        min-height: 100svh;
    }

    h1,h2,p {
        margin: unset;
    }

    h1, h2 {
        font-family: "Karla", sans-serif;
        text-wrap: balance;
    }

    p { text-wrap: pretty; }

    .blob {
        position: absolute;
        z-index: -1;
    }

    .blob.yellow {
        top: 0;
        right: 0;
    }

    .blob.blue {
        bottom: 0;
        left: 0;
    }

    .wrapper {
        display: flex;
        height:clamp(400px, 100svh, 100svh);
        align-items: flex-start;
        justify-content: center;
    }

    .container {
        max-width: 90rem;
        width: 90vw;
    }

    .flex-vert {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .container-centered { align-self: center; }

    button {
        --el-bkg: var(--btn-bkg); /* local var */
        background: var(--el-bkg);
        color: var(--default-bkg);
        border-color: var(--el-bkg);
        border-width: 1px;
        border-style: solid;
        padding: .75em 1.5em;
        border-radius: .75rem;
        transition: border-color 200ms, background 200ms;
        cursor: pointer;
    }

    button:active {
        --el-bkg: var(--btn-press);
    }

    .start-btn {
        margin-block-start: .5em;
        min-width: 20ch;
    }


    /* quiz styles */
    .quiz-container {
        padding-block: 1.5rem;
    }

    .quiz-item {
        border-block-end: 1px solid #DBDEF0;
        padding: 1.5em 0 1.5em;
        align-items: flex-start;
    }

    .quiz-item:first-of-type { padding-block-start: 0; }

    .quiz-item h2 {
        font-size: 1.25rem;
    }

    .answers {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    label {
        padding: .5em 1em;
        font-size: .875rem;
        border: 1px solid var(--default-color);
        border-radius: .75rem;
        cursor: pointer;
        transition:
            color 200ms,
            background 200ms,
            border-color 200ms;
    }

    label:has(input:checked) {
        --bkg: var(--selected);
        background: var(--bkg);
        border-color: var(--bkg);
    }

    input[type="radio"] {
        display: none;
    }

    label:has(input:checked).correct,
    .correct {
        --bkg: var(--correct);
        background: var(--bkg);
        border-color: var(--bkg);
    }

    label:has(input:checked).incorrect,
    .incorrect {
        --bkg: var(--incorrect);
        background: var(--bkg);
        border-color: var(--bkg);
        opacity: .5;
    }

    .not-selected {
        opacity: .5;
    }

    .quiz-footer {
        padding: 1.5em 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }

    .quiz-btn { min-width: 22ch; }

    .quiz-footer p {
        font-size: 1rem;
        font-weight: 600;
    }

    .options-wrapper {
        padding: 1rem;
        background: var(--btn-bkg);
        color: var(--default-bkg);
        border-radius: .75rem;
    }

    .options-wrapper p { max-width: 34ch; font-size: .875rem; }

    .quiz-options {
        padding: 1rem;
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        background: var(--default-bkg);
        color: var(--default-color);
        gap: 1rem;
        border: 1px solid var(--default-bkg);
        border-radius: .5em;
    }

    .quiz-options .flex-vert {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .quiz-options label {
        padding: 0;
        border: none;
    }

    .quiz-options input,
    .quiz-options select {
        width: min-content;
    }
}

@layer dark-mode {
    body:has(.dark-mode){
        background: var(--default-color);
        color: var(--off-white);

        h1, h2 {
            color: var(--white);
        }

        button {
            background: var(--off-black);
            border-color: var(--off-black);
            color: var(--off-white);
        }

        button:active {
            background: var(--btn-bkg);
            border-color: var(--btn-bkg);
        }

        .options-wrapper {
            background: var(--off-black);
        }

        .quiz-options {

        }

        .quiz-options label {

        }

        label {
            border-color: var(--bkg);
            color: var(--white);
        }

        label:has(input:checked) {
            --bkg: var(--off-white);
            color: black;
        }

        label:has(input:checked).correct {
            color: black;
        }

        label:has(input:checked).incorrect {
            color: black;
        }
    }
}